button {
    border: navajowhite;
    border-radius: 4px;
    font-weight: 400;
    padding: 3px;
    background: orange;
    color: white;

}
a.btn-manag {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 6px;
    margin-left: 10px;
}