nav.navbar-box.navbar.navbar-expand-lg.navbar-dark.sticky-top {
    /* background-color: #0665edb0 !important; */
    padding: 13px;
    color: white;
}
div#responsive-navbar-nav a {
    color: currentcolor;
    font-size: 20px;
    font-weight: 500;
}

.navbar-end.hidden.lg\:flex {
    margin-left: 375px;
    /* float: right; */
}
a.text-bold.text-xl {
    font-weight: 700;
    color: white;
}
