nav.navbar-box.navbar.navbar-expand-lg.navbar-dark.sticky-top {
    background-color: #883fcb99 !important;
    padding: 13px;
    color: white;
}
div#responsive-navbar-nav a {
    color: currentcolor;
    font-size: 20px;
    font-weight: 500;
}

